* {
	padding: 0px;
	margin: 0px;
}

.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.25em;
}

.sigma-parent {
	position: relative;
	height: 100%;
}

.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #454342;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

canvas#sigma_bg_1 {
	display: none;
}

#attributepane {
	display: block;
	display: none;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	right: 0;
	width: 240px;
	background-color: #fff;
	margin: 0;
	word-wrap: break-word;
	background-color: rgba(255, 255, 255, 0.8);
	border-left: 1px solid #ccc;
	padding: 0px 18px 0px 18px;
	z-index: 1;
}


#attributepane .text {
	height: 100%;
}

#attributepane .headertext {
	color: #454342;
	margin-bottom: 5px;
	height: 14px;
	border-bottom: 1px solid #999;
	padding: 0px 0 10px 0;
	font-size: 16px;
	font-weight: bold;
}


#attributepane .returntext em {
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	background-position: -91px -13px;
	float: left;
}

#attributepane .returntext span {
	padding-left: 5px;
	display: block;
}

#attributepane .close {
	padding-left: 14px;
	margin-top: 10px;
}

#attributepane .close .c {
	border-top: 2px solid #999;
	padding: 10px 0 14px 0;
}

#attributepane .close em {
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	background-position: -11px -13px;
	display: block;
	width: 24px;
	height: 16px;
	float: left;
}

#attributepane .close span {
	display: block;
	width: 151px;
	float: left;
}

#attributepane .nodeattributes {
	display: block;
	height: 85%;
	overflow-y: scroll;
	overflow-x: hidden;
	border-bottom: 1px solid #999;
}

#attributepane .name {
	font-size: 14px;
	cursor: default;
	padding-bottom: 10px;
	padding-top: 18px;
	font-weight: bold;
}

#attributepane .data {}

#attributepane .data .plus {
	background-repeat: no-repeat;
	background-image: url('../images/sprite.png');
	background-position: -171px -122px;
	width: 22px;
	height: 20px;
	float: left;
	display: block;
}

#attributepane .link {
	padding: 0 0 0 4px;
}

#attributepane .link li {
	padding-top: 2px;
	cursor: pointer;
}

#attributepane .p {
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
}

.left-close {
	background-image: url('../images/fancybox_sprite.png');
	margin-left: -37px;
	z-index: 99999;
	cursor: pointer;
	padding-left: 31px;
	line-height: 36px;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 14px;

}

#developercontainer {
	margin-left: 25px;
	margin-bottom: 25px;
	position: fixed;
	bottom: 0;
}

#jisc {
	width: 71px;
	height: 56px;
	background-image: url('../images/jisc-logo-small.png');
	background-repeat: no-repeat;
	display: inline-block;
}

#jisc span {
	display: none;
}

#oii {
	width: 227px;
	height: 56px;
	background-image: url('../images/oii_text.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 10px;

}

#oii span {
	display: none;
}

#maintitle {
	width: 100%;
	height: 72px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

#maintitle h1 {
	display: none;
}

#mainpanel {
	margin-top: 50px;
	margin-left: 25px;
	background: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ccc;
	border-radius: 10px;
	z-index: 20;
	position: fixed;
	top: 0;
}

#mainpanel .b1 {
	padding: 0px 0 0 0;
}

#mainpanel .col {
	width: 240px;
	padding: 18px 18px 18px 18px;
	margin: 0;

}

#title {
	font-weight: bold;
}

#titletext {
	padding: 6px 0 10px 0;
}

#info {
	padding-bottom: 15px;
}


#search {
	border-top: 1px solid #999;
	padding: 20px 0 0px 2px;
}

#search input[name=search] {
	border: 1px solid #999;
	border-radius: 10px;
	background-color: #fff;
	padding: 5px 7px 4px 7px;
	width: 205px;
	color: #454342;
}

#search input.empty {
	color: #454342;
}

#search .state {
	width: 14px;
	height: 14px;
	background-image: url('../images/sprite.png');
	float: right;
	margin-top: 6px;
	cursor: pointer;
	background-position: -131px -13px;
	border-radius: 5px;
}

#search .state.searching {
	background-position: -11px -13px;
}

#search .results {
	display: none;
	/*	border: 1px solid #999;*/
	margin: 6px;
	/*height: 150px;*/
	overflow-y: scroll;
	overflow-x: hidden;
}

#search .results b {
	padding-left: 2px;
}

#search .results a {
	padding: 1px 2px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #454342;
}

#search .results a:hover {
	background-color: #999;
	color: #fff;
}

#attributeselect {
	margin: 20px 0 13px 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#attributeselect .select {
	border: 1px solid #999;
	padding: 5px 7px 4px 7px;
	color: #fff;
	cursor: pointer;
	background-color: #999;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	background-position: 200px -144px;
}

#attributeselect .close {
	background-position: 200px -8px;
}

#attributeselect .list {
	display: none;
	border: 1px solid #999;
	padding: 6px;
	height: 150px;
	width: 226px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #999;
	/*position: relative;
		left: 240px;
		bottom: 164px;*/
	position: absolute;
	margin-left: 240px;
	margin-top: -164px;
	color: white;
}

#attributeselect .list a {
	display: block;
	padding: 2px;
	text-decoration: none;
	color: #fff;
}

#attributeselect .list a:hover {
	background-color: #fff;
	color: #454342;
}

.link h2 {
	font-size: 1em;
	padding-top: 1em;
}

#mainpanel dl {
	padding-bottom: 10px;
}

#mainpanel h2 {
	font-size: 16px;
	font-weight: bold;
}

#mainpanel dt {
	width: 20px;
	height: 20px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('../images/sprite.png');
}

#legend dl {}

#mainpanel h2 {
	padding-bottom: 10px;
	color: brown;
}

#legend dd {
	margin-bottom: 8px;
	color: #454342;
}

#mainpanel .infos dd {
	margin-bottom: 12px;
}

#mainpanel .node {
	background-position: -11px -119px;
}

#mainpanel .edge {
	background-position: -51px -122px;
}

#mainpanel .colours {

	background-image: url('../images/rainbow.png');

}

#legend .note {
	margin-bottom: 8px;

}

#mainpanel .regions {
	background-position: -171px -13px;
}

#mainpanel .download {
	background-position: -51px -13px;
}

#mainpanel .moreinformation {
	background: url('../images/info.png');
	background-repeat: no-repeat;
	margin-left: 5px;
}

#copyright {
	margin: 0 auto;
	position: fixed;
	right: 40px;
	bottom: 25px;
	z-index: 0;
}

#copyright a {
	color: #454342;
}

#copyright .explanation {
	display: none;
}

#zoom {
	z-index: 999;
	position: fixed;
	left: 45%;
	bottom: 25px;
	margin: 0 auto;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
}

#zoom .z {
	background: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 10px;
	float: left;
	margin-right: 4px;
	background-repeat: no-repeat;
}

#zoom .z[rel=center] {
	background-image: url('../images/zoom_reset.png');
	background-position: center;
}

#zoom .z[rel=in] {
	background-image: url('../images/zoom_in.png');
	background-position: center;
}

#zoom .z[rel=out] {
	background-image: url('../images/zoom_out.png');
	background-position: center;
}

.line {
	font-size: 12px;
	color: #454342;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

#information {
	display: none;
	background: #fff;
	padding: 1px 10px 10px 10px;
}

#information h3 {
	margin: 14px 0 4px 0;
}

#information p {
	margin: 0 0 4px 0;
}

#information .button {
	width: 14px;
	height: 14px;
	background-image: url('../images/sprite.png');
	border: 1px solid #999;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

#information .button span {
	display: none;
}

#information .button.plus {
	background-position: -91px -122px;
}

#information .button.moins {
	background-position: -131px -122px;
}

#minify {
	background-color: #fff;
	padding: 4px 4px 4px 25px;
	cursor: pointer;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	background-position: -167px -118px;
	position: absolute;
	top: 65px;
	left: 15px;
	display: none;
}

#minifier {
	position: absolute;
	width: 20px;
	height: 16px;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	background-position: -45px -147px;
	cursor: pointer;
	display: none;
}

select {
	width: 100%;
	padding: 12px 20px;
	margin: -5px 0 10px 0;
	border: none;
	border-radius: 10px;
	background-color: #f2f2f2;
	font-size: 12px;
	color: #333;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select:focus {
	outline: none;
}

select option {
	padding: 12px 20px;
	background-color: #a99c92;
	color: #333;
}

.page-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.btn-container {
	position: relative;
	width: 100%;
	height: 100%;
  }
a.btn {
	width: 150px;
	display: block;
	margin: 0 0 0 -75px;
	padding: 1em 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font: 1.125em 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	background: brown;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}

.modal {
	/* width: 90%; */
	/* height: 1000px; */
	display: block;
	margin: 0 auto;
	position: relative;
	top: 200px;
	/* transform: translateY(-26%); */
	background: #f5f5f0;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-radius: 10px;
  }
  

.modal-wrapper.open .modal {
	margin-top: -200px;
	opacity: 1;
}

.head {
	width: 90%;
	height: 32px;
	padding: 1.0em 5%;
	overflow: hidden;
	background: #a99c92;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.btn-close {
	width: 32px;
	height: 32px;
	display: block;
	float: right;
}

.btn-close::before,
.btn-close::after {
	content: '';
	width: 32px;
	height: 6px;
	display: block;
	background: #fff;
}

.btn-close::before {
	margin-top: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn-close::after {
	margin-top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.fas{
	color: #fff;
	text-decoration: none;
	font-size: 30px;
}

.fas::after{
	color: #fff;
	text-decoration: none;
}